B1O_REMOTE_TOKEN=generate-a-long-random-token
B1O_ZOOM_URL=https://zoom.us/j/REPLACE_ME
B1O_TELEGRAM_TOKEN=REPLACE_ME
B1O_TELEGRAM_CHAT_ID=REPLACE_ME
B1O_AGENT_HOST=127.0.0.1
B1O_AGENT_PORT=8765
B1O_AGENT_URL=http://127.0.0.1:8765

B1O_WAKE_MAC=40:1a:58:81:ea:34
B1O_WAKE_BROADCAST=192.168.1.255
B1O_WAKE_PORT=9

B1O_SCHOOLOGY_URL=https://lausdschoology.azurewebsites.net/en-US/Student/Login
B1O_SCHOOLOGY_USER=REPLACE_ME
B1O_SCHOOLOGY_PASSWORD=REPLACE_ME
B1O_BROWSER_EXECUTABLE=/usr/bin/brave
B1O_BROWSER_PROFILE=~/.local/share/b1o-remote/browser
B1O_ZOOM_TIME=08:28
