B1O_REMOTE_TOKEN=generate-a-long-random-token
B1O_ZOOM_URL=https://zoom.us/j/REPLACE_ME
B1O_TELEGRAM_TOKEN=REPLACE_ME
B1O_TELEGRAM_CHAT_ID=REPLACE_ME
B1O_AGENT_HOST=127.0.0.1
B1O_AGENT_PORT=8765
B1O_AGENT_URL=http://127.0.0.1:8765
